.item-product {

    padding: 10rem;
    margin: 5rem 0;
    /* background-color: rgba(53, 48, 48, 0.568); */

}

/* .category-container {
    padding: 10rem;
    margin: 5rem 0;
    background-color: rgba(53, 48, 48, 0.568);
} */
